.main-section {
    background-image: url('../img/img-main.jpeg');
    background-size: cover; /* La imagen cubrirá todo el ancho y largo */
    background-position: center;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
}

.card {
    height: 100px;
}

.card img{
    height: 250px;
}

/* Ventas */
.ima img{
    width: 100%;
    height: 16rem;
}
section h2{
    text-align: center;
}
#propiedadesVenta{
    display: flex;
    flex-wrap: wrap;
    gap:15px;
    justify-content: center;
    padding-bottom: 15px;
}
.elemento {
    border: solid grey 1px;
    border-radius: 10px;
    padding: 10px;
    width: 26rem;
}
.verde{
    color:green;
}
.rojo{
    color:#dc3545;
}
/* Alquiler */
#propiedadesAlquiler{
    display: flex;
    flex-wrap: wrap;
    gap:15px;
    justify-content: center;
    padding-bottom: 15px;
}